/*

Cor1 #057A44
Cor2 #55FBAE
Cor3 #0AFA8A
Cor4 #2A7A55
Cor5 #2A7A55

*/

@charset "UTF-8";

:root {
    --Cor1: #02355C;
    --Cor2: #489FE1;
    --Cor3: #3e82d6e0;
    --Cor4: #8fb6e9;
    --Cor5: #a1d0e4;
}

* {
    margin: 0px;
    padding: 0px;
}

body {

    background-color : var(--Cor5) ;

    font-family : 'Poppins' , sans-serif ;

}

header {

    background-image : linear-gradient(to bottom, var(--Cor1), var(--Cor5));
    min-height: 100px;

    text-align: center;

    padding-top: 40px;

}

nav{
    background-color: var(--Cor4);
    padding: 10px;/*espaçamento interno até a borda*/
    box-shadow: 10px 1px 3px;/*sombras*/
}
nav > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px;
    transition-duration: 0.5s;

}
nav > a:hover{
    background-color: var(--Cor2);
    color:#6ebb97

}

main{
    background-color: var(--Cor2);
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px;

}

main  h1{
    color: var(--Cor5);
    background-image: linear-gradient(to right, var(--Cor1), transparent);
    margin-bottom: 15px;
}

main p{
    font-size: 16px;
    text-align: justify;
    text-indent: 30px;
    margin-top: 10px;
}

pre{
    font-size: 15px;

}

iframe{
    border: var(--Cor1);
    border-width: 8px;
    border-style: groove;
    margin-bottom: 20px;
}

img{
    border: var(--Cor1);
    border-width: 8px ;
    border-style: groove;
    margin: 20px 0px 0px;
}

aside{
    background-color: var(--Cor4);
    padding: 10px;
    border-radius: 5px;
}

aside{
    background-color: var(--Cor1);
    color: black;
    padding: 10px; 
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-position: inside;
    text-align: justify;
}

footer{
    background-color: #8fb6e9;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

footer > a{
    color: var(--Cor1);
    font-weight: bold;
    text-decoration: none;
}





